header
 div.navbar
      if user
        img(src="/image/12.png" class="logo")
        a(href="#" id="logout" ) Logout
        //a(href="/EC/mainpage" class="head") Home
        -if(user.role!="admin")
         a(href=`/EC/person/${user._id}` ) Me
        -if(user.role=="candidate")
         a(href=`/EC/Myteam/${user._id}` ) My Team
         a(href=`/EC/nomination/${user._id}` ) Nomination
        -if(user.role=="admin")
         a(href=`/EC/posts` ) Posts
      else
        img(src="/image/12.png" class="logo")
        a(href="/EC/mainpage" ) Home
        a(href="/EC/login"  ) LogIn
        a(href="/EC/signup"  ) Signup
      

