extends base
 
block content   
 div#standard_box.ss
       div.ss1
        h1.card-title(style="align-content:center") Login
       form.form(id="login")
        p Enter your IITK Web Mail:
        input(type="email" id="login_emailid" name="emailid" placeholder="IITK Email Id")
        <br><br>
        p Enter your password:
        input(type="password" id="login_password" name="password" placeholder="Password")
        <br><br>
        input(type="submit" class="btn btn-dark" value="submit")
        p 
         a(href="" id="forget_password") forget your password
         p *enter your mail in the space above only

