extends base
 
block content 
   
    form.form(id="signup")
      div#standard_box
        div.ss1
            h1.card-title(style="align-content:center") Signup
        p Enter your Name:
        input(type="text" id="signup_name"  placeholder="Name")
        <br><br>
        p Enter your Email:
        input(type="email" id="signup_email"  placeholder="IITK Email Id")
        <br><br>
        p Enter your Password:
        input(type="password" id="signup_password" placeholder="Password")
        <br><br>
        p Enter your Confirm Password:
        input(type="password" id="signup_confirmpassword"  placeholder="Password Confirm")
        <br><br>
        p Enter your Role:
        select#signup_role
         option(value="candidate") candidate
         option(value="campaigner") campaigner
        
        //div
            p Enter who you want to campaign for(only if you are a campaigner):
            select#signup_worksfor
                option(value=null) No One
                -for(let i=0;i<allcandidates.length;i++)
                    option(value=allcandidates[i]._id)= `${allcandidates[i].name}`
        
        div
            p For the post( if candidate )
            select#signup_post
                option(value="President,_Students_gymkhana") President, Student's gymkhana
                option(value="Gerenal_secretary,_Science_and_Technology") Gerenal secretary, Science and Technology
                option(value="Gerenal_secretary_Media_and_Culture") General secretary Media and Culture
                option(value="Gerenal_secretary_Games_and_sports") General secretary games and sports
                option(value="Gerenal_secretary,UG_Academics_and_Career") General secretary,UG Academics and Career
                option(value="Gerenal_secretary,PG_Academics_and_Career") General secretary,PG Academics and Career
                option(value=`BT-BS-MT-MS-MBA_Y16`) BT/BS-MT/MS/MBA Y16
                option(value=`BT-BS-MT-MS-MBA_Y17`) BT/BS-MT/MS/MBA Y17
                option(value=`BT-BS_Y17`) BT/BS Y17
                option(value=`BT-BS_Y18`) BT/BS Y18
                option(value=`BT-BS_Y19`) BT/BS Y19
                option(value=`BT-BS_Y20`) BT/BS Y20
                option(value=`MTech_Y19`) MTech Y19
                option(value=`MTech_Y20`) MTech Y20
                option(value=`MSc_Y19`) MSc Y19
                option(value=`MSc_Y20`) MSc Y20
                option(value=`MSR`) MSR
                option(value=`MBA_and_MDes_Y19`)=`MBA and MDes Y19`
                option(value=`MBA_and_MDes_Y20`)=`MBA and MDes Y20`
                option(value=`PHD_Y18`)=`PHD Y18 and earlier batches(including Msc-Phd Y16)`
                option(value=`PHD_Y19`)=`PHD Y19 (including Msc-Phd Y17)`
                option(value=`PHD_Y20`)=`PHD Y20 (including Msc-Phd Y18)`
        br
        input(type="submit" id="submit_details" class="btn btn-dark" value="Signup")